p {
    margin: 10px 0 !important;
}
.flex-bg {
    display: flex;
    align-items: left;
    justify-content: space-between;
}
.pic_upload {
    flex-direction: column;
    width: 80vw;
}
.label {
    font-size: 2rem;
    color: black;
    margin-right: 2rem;
}
.form_div {
    margin-bottom: 1rem;
}
.btn-bg {
    margin: 2rem;
    font-size: 2rem;
}
.header{
    font-size: 3rem;
    color: black;
    margin-top: 2rem;
}